$primary: #1976d2;
$white: white;

.content {
  .mat-card {
    background: $primary;
  }
  .mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fileUploaderContainer {
    max-width: 300px;
  }
  .uploadBtn {
    background-color: $white;
    color: $primary;
  }
}
